// Specific CSS for your home-page
#text-name {
  font-family: 'Dancing Script', cursive;
  font-size: 64px;
}
#company-name {
  text-align: center;
  font-size: 20px;
}


.text-ordinary {
  font-family: 'Open Sans', sans-serif;
}

.icons-home img {
  width: 30%;
}


.icons-home {
  display: flex;
  justify-content: space-evenly;
}
