// Import page-specific CSS files here.
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@import "home";
@import "team_members";
@import "projects";

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 100px;
}

footer {
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
}
