// Import page-specific CSS files here.
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@import "home";
@import "team_members";
@import "projects";

html {
  min-height: 100%;
  position: relative;
}

body {
  min-height: 100%;
  margin: 0 0 80px;
}

#footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 80px;
  width: 100%;
}
