.text-heading {
  font-family: 'Dancing Script', cursive;
  font-size: 64px;
  text-align: center;
  margin: 32px;
}

.search-bar {
  width: 64%;
  margin: 2% auto;
}

.search-bar form {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 40px;
}


.input-field-jobseekers {
  padding: 32px;
  box-shadow: 0px 0px 24px grey;
  width: 72%;
}

.btn-search {
  width: 12%;
  height: 8%;
}


table tr {
  border-top: 1px solid #228896;
  border-left: 1px solid #228896
}

th {
  border-right: 1px solid #228896;
  text-align: center;
}

td {
  border-right: 1px solid #228896;
  text-align: center;
}

table {
  border-bottom: 1px solid #228896;
  width: 90%;
  margin: 16px auto;
  box-shadow: 0px 0px 24px rgb(213, 213, 213);
  margin-top: 128px;
}
