.banner-project {
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  height: 500px;
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: center;
}

.banner-project h2 {
  color: black;
  font-size: 64px;
  font-weight: 600;
  font-family: 'Dancing script';
  margin-bottom: 16px;
}

.grid-project {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.card-project {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  align-items: center;
  margin: 16px auto;
  width: 80%;
  box-shadow: 0px 0px 24px grey;
}

.card-project img {
  margin-bottom: 16px;
  width: 100%;
  height: 320px;
}

.card-project h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.card-project h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.card-project p {
  text-align: justify;
  margin: 0 32px;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 24px;
}

.card-project img {
  margin-bottom: 16px;
}

.fa-edit {
  font-size: 24px;
  color: #228896;
}
