.text-team-members {
  font-family: 'Dancing Script', cursive;
  font-size: 64px;
  text-align: center;
  margin: 2%;
}

.grid-team {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.card-team {
  display: flex;
  width: 68%;
  /* flex-wrap: wrap; */
  flex-direction: column;
  align-items: center;
  margin: 16px auto;
  font-family: 'Open Sans', sans-serif;
  box-shadow: 0px 0px 24px grey;
}

.card-team h4 {
  color: #5E9E01;
  font-weight: 600;
  font-family: 'Work Sans', sans-serif;
}

.card-team h6 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
}

.card-team p {
  text-align: justify;
  margin: 16px 32px;
  font-family: 'Work Sans', sans-serif;
}

.card-team img {
  margin-bottom: 16px;
  width: 100%
}
