<div class="footer">
  <div class="contact-footer">
    <h4>Contact us:</h4>
    <div class="icons-contact">
      <i class="fas fa-phone"></i>
      <h6>0203 405 4944</h6>
    </div>
    <div class="icons-contact">
      <i class="fas fa-mobile-alt"></i>
      <h6>07747 624 722</h6>
    </div>
    <div class="icons-contact">
      <i class="fas fa-envelope-open-text"></i>
      <h6>charles@greenstarrecruitment.co.uk</h6>
    </div>
  </div>
</div>
