<div class="footer">
  <div class="contact-footer">
    <h4>Contact us</h4>
    <i class="fas fa-phone">0203 405 4944</i>
    <i class="fas fa-mobile-alt">07747 624 722</i>
    <i class="fas fa-envelope-open-text">charles@greenstarrecruitment.co.uk</i>
  </div>
</div>
