<div id="company-name">
  <h1 id="text-name">Green star</h1>
  <p class="text-ordinary">Recruitment company</p>
</div>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure quia aperiam consequatur ad quisquam facilis expedita cupiditate sed non fugiat est molestias doloribus, ipsum repellat suscipit sapiente nemo eius ipsa.</p>
<div class="icons-home">
  <%= image_tag "Tool box.png", alt: "Box", width: 200 %>
  <%= image_tag "House.png", alt: "House", width: 200 %>
  <%= image_tag "Paint can.png", alt: "Can", width: 200 %>
</div>
