<div id="company-name">
  <h1 id="text-name">Green star</h1>
  <p class="text-ordinary">Recruitment company</p>
</div>
<div>
  <%= image_tag "Tool box.png", alt: "Box", width: 200 %>
  <%= image_tag "House.png", alt: "House", width: 200 %>
  <%= image_tag "Paint can.png", alt: "Can", width: 200 %>
</div>
