<div id="company-name">
  <h1 id="text-name">Green star</h1>
  <p class="text-ordinary">Recruitment LtD</p>
</div>

<div class="line-home">
  <p class="text-description-home">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure quia aperiam consequatur ad quisquam facilis expedita cupiditate sed non fugiat est molestias doloribus, ipsum repellat suscipit sapiente nemo eius ipsa. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum officiis aliquid neque animi nostrum qui mollitia soluta dolor quam. Atque, eligendi. Culpa necessitatibus eveniet veniam sit vel, hic blanditiis ex?</p>
  <div class="star-home">
    <i class="fas fa-star"></i>
  </div>
</div>


<div class="icons-home">
  <%= image_tag "Tool box.png", alt: "Box", width: 200 %>
  <%= image_tag "House.png", alt: "House", width: 200 %>
  <%= image_tag "Paint can.png", alt: "Can", width: 200 %>
</div>
