.contact-footer {
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  height: 80px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  align-items: center;
}

.contact-footer h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #283739;
}

.contact-footer h6 {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #283739;
}

.contact-footer i {
  margin-right: 8px;
  color: #283739;
}

.icons-contact {
  display: flex;
  flex-direction: row;
}
