.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon a {
  color: #283739;
  font-weight: 600;
  font-size: 20px;
  font-weight: 600;
  // font-family: "Work Sans", "Helvetica", "sans-serif";
}

.link-navbar {
  font-family: "Work Sans", "Helvetica", "sans-serif";
}

.navbar-lewagon a:hover {
  color: #228896;
  text-decoration: none;
  transition-delay: 0.24s;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
  font-family: "Work Sans", "Helvetica", "sans-serif";
  font-size: 16px;
  font-weight: 600;
  color: #283739;
}
